@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
.container {
  background-color: #080808;
  width: 100%;
  font-family: Poppins;
  height: 100vh;
}

.container .header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  padding: 20px;
  color: white;
  background-color: #363636;
  z-index: 2;
}
.header ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-right: 5vw;
}
.header .tabs ul > li {
  margin-left: 10px;
  padding: 5px 30px;
  border-radius: 5px;
  transition-duration: 0.4s;
}
.header .tabs ul > li:after {
  background: #706f6f;
  transition: all 0.8s;
}
.header .tabs ul > li:active:after {
  transition: 0s;
}
li > img {
  width: 30px;
  height: 30px;
}
a {
  text-decoration: none;
  color: #fff;
}
.active {
  color: #d6a21f;
  text-decoration: underline;
}
.tabs ul li a:hover {
  color: #018ac9;
}
.container .main-contents {
  display: flex;
}
.container .main-contents > .big-col {
  background: url('../images/coding.jpg');
  width: 60%;
  color: #fff;
  height: 75vh;
  margin-top: -15px;
  z-index: 1;
}

.container .main-contents > .big-col1 {
  background-color: #080808;
  width: 60%;
  color: #fff;
  height: 75vh;
}

.big-col .sub-big {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  height: 100%;
}
.sub-big .part1 {
  padding: 5vw 0 0 10vw;
}
.line {
  border: 2px solid #be901c;
  width: 42%;
  margin-left: 15%;
}
.sub-big .part2 {
  background-color: #111010;
  padding-top: 30px;
  padding: 30px 15px 10px 10px;
  border-radius: 10px;
  margin: 10px 15% 0 5%;
}
.part2 p {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: normal;
}
.sub-big button {
  background: #daa520;
  border: none;
  padding: 15px 30px;
  color: #fff;
  top: 10px;
  border-radius: 40px;
  margin-left: 20%;
  margin-top: 15px;
  font-weight: 500;
  font-size: 25px;
}
.footer {
  /* display: flex; */
  position: absolute;
  padding: 0.02vw 17vw;
  bottom: 5px;
  justify-content: center;
  background-color: #111010;

  color: #fff;
}
.big-col1 .footer {
  margin-top: 6vh;
}

.footer p {
  padding: 15px;
}
.container .main-contents > .small-col {
  width: 40%;
  display: flex;
  justify-content: center;
}
.small-col img {
  border-radius: 50%;
  height: 42vh;
  width: 42vh;
  margin-top: 25px;
}
.small-col .sub-small {
  margin-top: 6vh;
}
.sub-small button {
  background: #daa520;
  border: none;
  padding: 15px 30px;
  color: #fff;
  top: 10px;
  border-radius: 40px;
  margin-left: 20%;
  margin-top: 15px;
  font-weight: 500;
  font-size: 25px;
}
button:hover {
  background-color: #815f07;
}
.centa {
  border: 2px solid #daa520;
  margin-top: 40px;
}
.html {
  height: 30vh;
  background-color: #363636;
  width: 100%;
  padding-top: 20px;
  border-radius: 0 50px 50px 0;
  margin-left: 40px;
}
.html img {
  width: 90px;
  height: 90px;
}
.html img:nth-last-child(1) {
  width: 150px;
  margin-left: 100px;
}
.inner-bg {
  background-color: #daa520;
  border-radius: 0 50px 50px 0;
  height: 100%;
}
.css .inner {
  width: 90%;
}
.botstrp .inner {
  width: 70%;
}
.php .inner {
  width: 40%;
}
.js .inner {
  width: 30%;
}
.ski {
  margin-top: 5px;
  margin-left: 20px;
}
.skillz {
  display: flex;
  width: 100%;
}
.left-side {
  width: 50%;
}
.left-side .part2 {
  margin-left: 60px;
}
.right-side {
  display: flex;
  align-items: flex-end;
}
.right-side button {
  width: 25vw;
  height: 7vh;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 5vw;
}

/* curve */
.custom-shape-divider-bottom-1640285506 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -2;
}

.custom-shape-divider-bottom-1640285506 svg {
  position: relative;
  display: block;
  width: calc(152% + 1.3px);
  height: 52px;
  z-index: 2;
}

.custom-shape-divider-bottom-1640285506 .shape-fill {
  fill: #080808;
  z-index: -2;
}
.skillz .part2:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 5px;
  width: 30vw;
  border-radius: 10px;
}
.part2:nth-child(1) input,
textarea {
  margin: 5px 0;
  outline: none;
  width: 16vw;
  border-radius: 5px;
  border: none;
  padding: 8px;
}
.part2:nth-child(1) textarea {
  height: 10vh;
}
.sub-big1 {
  display: flex;
  margin-top: 5vh;
}
.sub-big1 .auth-design {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
}

.button {
  background: #daa520;
  color: #fff;
  align-items: center;
  margin-left: -50px;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 15px;
}
.sub-big1 div.dm1 {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.dm1 {
  display: flex;
}
.dm1 p {
  background-color: #363636;
  width: 30px;
  border-radius: 50%;
  padding: 5px;
  margin-left: 30px;
}
.circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #111010;
  display: flex;
  justify-content: center;
}
.circle img {
  width: 50px;
  height: 50px;
}

form input,
button {
  margin: 5px 0;
  outline: none;
  width: 16vw;
  border-radius: 5px;
  border: none;
  padding: 10px 8px;
}
li span {
  display: flex;
  align-items: center;
}
span img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 0px;
}
.main-contents .leftz,
.middle,
.right {
  width: 35%;
  color: #fff;
  background-color: #111010;
  margin: 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.leftz,
img {
  width: 90%;
}
.middle img {
  width: 80%;
}
.right img {
  width: 80%;
}

.leftz p {
  text-align: justify;
  width: 90%;
}
.leftz .title {
  text-transform: uppercase;
}
.leftz button {
  background: #000;
  border: 1px solid #daa520;
  color: #fff;
}
.middle p {
  text-align: justify;
  width: 90%;
}
.middle .title {
  text-transform: uppercase;
}
.middle button {
  background: #000;
  border: 1px solid #daa520;
  color: #fff;
}
.right p {
  text-align: justify;
  width: 90%;
}
.right .title {
  text-transform: uppercase;
}
.right button {
  background: #000;
  border: 1px solid #daa520;
  color: #fff;
}
.sub-small .media {
  margin-top: 40px;
  display: flex;
  background-color: #363636;
  padding: 0 2rem;
  border-radius: 10px;
}
.media span {
  padding: 5px;
}
span .mda {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1.5px solid #000;
  padding: 5px;
}

.sub-small .login {
  color: #fff;
}
.sub-small span {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
}

.sub-small .login form {
  display: flex;
  flex-direction: column;
  background-color: #111010;
  padding: 20px;
}

.username label {
  padding-right: 30px;
}
.username input {
  margin-left: 2.21vw;
  font-size: 0.9vw;
}

.error-msg {
  visibility: hidden;
}
.username.success input {
  border: 1.5px solid #2ecc71;
}
.username.success i.fa-check {
  color: #2ecc71;
  visibility: visible;
}
.pwd.error i.fa-times-circle {
  color: red;
  visibility: visible;
}
.pwd.error input {
  border: 1px solid red;
}
.pwd.error .error-msg {
  color: red;
  visibility: visible;
}

.pwd input {
  margin-left: 2vw;
  font-size: 0.9vw;
}
.sub-small .login form .pwd {
  padding-bottom: 0;
  margin-bottom: 0;
}
.sub-small .login span a {
  color: #0000ff;
}
.sub-small .login form button {
  position: relative;
  height: 20px;
  margin-left: 8vw;
  margin-top: 0;
}
.sub-small .login form button span {
  position: absolute;
  top: 0;
  left: 80px;
  font-size: 20px;
}
/* Social links */
.button-block {
  position: absolute;

  bottom: 5px;
  background: #daa520;
  padding: 0 1.2rem;
  border-radius: 1.2rem;
}

/* - social media  */
.social {
  display: inline-block;
  margin: 30px 15px;
  cursor: pointer;
}
.social a {
  display: block;
  background: rgba(0, 0, 0, 1);
  padding: 10px;
  position: relative;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.social a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(20px, -20px);
  box-shadow: -50px 50px 30px rgba(0, 0, 0, 0.5);
}

.social a i {
  color: rgba(256, 256, 256, 1);
  font-size: 15pt;
}
.rem {
  color: #e2e2e2;
  display: flex;
  align-items: center;
}

.rem i {
  font-size: 20vw;
}
.form-control i {
  position: absolute;
  margin-top: -30px;
  color: #000;
  left: 340px;

  visibility: hidden;
}
.form-control.success i.fa-check {
  color: #2ecc71;
  visibility: visible;
}
.form-control.error i.fa-times-circle {
  color: #e74c3c;
  visibility: visible;
}
.form-control.error small {
  color: #e74c3c;
  visibility: visible;
}
.form-control small {
  visibility: hidden;
}
.form-control input {
  border: 2px solid #e3e3e3;
}
.form-control.success input {
  border-color: #2ecc71;
}
.form-control.error input {
  border-color: #e74c3c;
}

.username i {
  position: absolute;
  top: 175px;
  right: 110px;
  visibility: hidden;
}

.pwd i {
  position: absolute;
  right: 8vw;
  top: 40vh;
}

.main-contentz {
  display: flex;
  width: 100%;
  background-color: #080808;
  height: 150vh;
  color: #e2e2e2;
}
.main-contentz .main-main {
  width: 75%;
  margin-top: 4rem;
  height: 50vh;
}
.main-contentz .footer {
  display: flex;
  position: absolute;
  padding: 0.02vw 17vw;
  bottom: -60vh;
  justify-content: center;
  background-color: #111010;

  color: #fff;
}
.main-contentz .main-main .image-content {
  width: 80%;
  height: 100%;
  margin: 0 10%;
}
.main-contentz .main-main .image-content span {
  background: rgba(255, 201, 65, 0.4);
  padding: 5px 7.5rem;
  position: absolute;
  top: 23vh;
  left: 340px;
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
}
.main-contentz .main-main .image-content img {
  height: 100%;
  object-fit: cover;
}
.main-main .image-content .blog-body {
  color: #fff;
  background: #111010;
  width: 90%;
  padding: 5px 10px;
  font-size: 0.9vw;
  font-weight: 300;
}
.main-main .image-content p.blog-body {
  text-align: justify;
}
.main-contentz .comment-section {
  width: 25%;
  color: #fff;
  margin-top: 4rem;
  margin-right: 25px;
}
.main-contentz .comment-section .comment-title {
  display: flex;
  justify-content: space-between;
}
.main-contentz .comment-section .comment-title span:nth-last-child(1) {
  background: #c4c4c4;
  color: #000;
  padding: 3px 15px;
  border-radius: 20px;
  margin-right: 25px;
}
.comment-section .comment-body .cmt {
  color: #fff;
  display: flex;
  padding-top: 10px;
}
.comment-section .comment-body .cmt span:last-child {
  background: #2b2929;
  color: white;
  width: 70%;
  padding: 5px 7px;
  border-radius: 10px;
  margin-left: 30px;
}
.comment-body .rply-btn {
  background: #363636;
  width: fit-content;
  padding: 0 20px;
  margin-top: 10px;
  border-radius: 10px;
  position: absolute;
  right: 50px;
}

.add-comment {
}

.add-comment .like-comment {
  width: 10%;
  display: flex;
  justify-content: space-between;
}
.like-comment i {
  font-size: 15pt;
  color: #fff;
  padding: 5px 17px;
}
.like-comment a.cir1 {
  position: absolute;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 3px;
  font-size: 8px;
  background: #018ac9;
}
.like-comment a.cir2 {
  position: absolute;
  border: 1px solid #fff;
  border-radius: 50% !important;
  padding: 3px;
  left: 155px;
  font-size: 8px;
  background: #fd03c7;
}
.add-comment .circles {
  color: #fff;
}
.add-comment .circles .cir1 {
  height: 20px;
  width: 20px;
  border: 1px solid #010101;
  display: relative;
  position: absolute;
  top: 900px;
}

.add-comment textarea {
  width: 25vw;
  height: 15vh;
  font-size: 0.9rem;
}
.add-comment button {
  display: block;
  font-size: 20px;
  width: 15vw;
  margin-left: 10vw;
}

#contactForm .part2 span {
  color: red;
  font-size: 15px;
}
/* .rply-btn {
  display: flex;
} */
/* So{cial links */
@media only screen and (max-width: 600px) {
  .header ul {
    display: flex;
    flex-direction: column;
  }
}
